html, body {
    background-color: rgb(122, 85, 221);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#txt {
  text-align: center;
  font-size: 50pt;
  color: white;
  additive-symbols: -moz-element();
}